@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

.prose img {
  margin: auto;
}

#main-content a {
  color: #FC7E0F;
}

#main-content h2 a {
  color: black;
}

.h-100-svh {
  height:100svh;
}
